<% venue ||= new_venue
   color ||= 'white' %>

<%= form_for venue, :remote => true do |f| %>
  <div class='field'>
    <%= f.label :name if venue.new_record? %>
    <%= f.text_field :name %>
  </div>

  <% if venue.persisted? %>
    <div class='field'>
      <%= f.text_field :address %>
    </div>
  <% end %>

  <div class="option_fields">
    <% all_options.each do |option| %>
      <%= f.fields_for option do |o| %>
        <%= render 'option_fields', :f => o, :parent_form => f %>
      <% end %>
    <% end %>
  </div>

  <%= link_to_add_fields "Add Note", f, :options %>

  <p>
    <%= f.submit %>
  </p>

  <div class="spinner <%= color %>"></div>
<% end %>
