<%= form_for new_venue, :remote => true do |f| %>
  <h1>Add a venue</h1>

  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <p>
    <%= f.submit %>
  </p>
  <div class="spinner white"></div>
<% end %>

<div id="venues">
  <%= render @venues %>
</div>
