<!DOCTYPE html>
<html>
<head>
  <title>Cameracheck</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <header id="header">
      <div id="logo">
        <h1>Camera Check</h1>
        <h2>Local Venue Photography Reference</h2>
      </div>

      <%= link_to 'Add venue', new_venue_path,
                               :remote => true,
                               :id     => 'add_venue' %>
    </header>

    <section id="main">
      <aside id="sidebar">
        <h1>Add a venue</h1>
        <div id="new_venue_form">
          <%= render 'form' %>
        </div>
      </aside>

      <%= yield %>
    </section>

    <footer id="footer">
      <p>
        Made in <%= link_to 'Ruby on Rails', 'http://www.rubyonrails.org' %>
        by <%= link_to 'Joe Sak', 'http://joesak.com' %>
        for <%= link_to 'Lauren Colchamiro', 'http://laurencolchamiro.com' %>
      </p>
      <p>
        <%= link_to 'View the source', 'http://github.com/joemsak/cameracheck' %> of this website.
      </p>
    </footer>
  </body>
</html>
